// thin
@font-face {
  font-family: "SF_PRO";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-thin.ttf") format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-thin.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-thin.woff2") format("woff2");
}

@font-face {
  font-family: "SF_PRO";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-thin-italic.ttf")
      format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-thin-italic.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-thin-italic.woff2")
      format("woff2");
}

// light
@font-face {
  font-family: "SF_PRO";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-light.ttf") format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-light.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-light.woff2") format("woff2");
}

@font-face {
  font-family: "SF_PRO";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-light-italic.ttf")
      format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-light-italic.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-light-italic.woff2")
      format("woff2");
}

// regular
@font-face {
  font-family: "SF_PRO";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-regular.ttf") format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-regular.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF_PRO";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-regular-italic.ttf")
      format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-regular-italic.woff")
      format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-regular-italic.woff2")
      format("woff2");
}

// medium
@font-face {
  font-family: "SF_PRO";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-medium.ttf") format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-medium.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-medium.woff2") format("woff2");
}

@font-face {
  font-family: "SF_PRO";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-medium-italic.ttf")
      format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-medium-italic.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-medium-italic.woff2")
      format("woff2");
}

// semi-bold
@font-face {
  font-family: "SF_PRO";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-semibold.ttf") format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-semibold.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "SF_PRO";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-semibold-italic.ttf")
      format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-semibold-italic.woff")
      format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-semibold-italic.woff2")
      format("woff2");
}

// bold
@font-face {
  font-family: "SF_PRO";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-bold.ttf") format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-bold.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-bold.woff2") format("woff2");
}

@font-face {
  font-family: "SF_PRO";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-bold-italic.ttf")
      format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-bold-italic.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-bold-italic.woff2")
      format("woff2");
}

// black
@font-face {
  font-family: "SF_PRO";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-black.ttf") format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-black.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-black.woff2") format("woff2");
}

@font-face {
  font-family: "SF_PRO";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("../assets/fonts/ttf/SF_PRO_DISPLAY-black-italic.ttf")
      format("truetype"),
    url("../assets/fonts/woff/SF_PRO_DISPLAY-black-italic.woff") format("woff"),
    url("../assets/fonts/woff2/SF_PRO_DISPLAY-black-italic.woff2")
      format("woff2");
}
