.checkbox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;

  &__input {
    display: none;
  }

  &__label {
    width: 100%;

    user-select: none;

    display: flex;
    align-items: center;

    cursor: pointer;
    transition: all 100ms;
    position: relative;

    color: #2b2c43;
    font-size: 15px;

    font-weight: 500;

    display: flex;

    &-indicator {
      height: 17px !important;
      width: 17px !important;
      background-color: #fff;
      transition: all 100ms;
      border: 2px solid #e7e7e7;
      border-radius: 50%;
      margin-right: 7.5px;
      position: relative;

      // display: flex;
      // align-items: center;
      // justify-content: center;

      &::before {
        content: "";
        height: 85%;
        width: 85%;
        position: absolute;
        top: 50%;
        left: 50%;

        background-color: #090963;
        border-radius: 50%;
        transform: translate(-55%, -45%);
        opacity: 0;
        transition: all 50ms;
      }
    }

    &:hover &-indicator {
      border-color: #c9c7c7;
    }
  }

  &__input:checked + &__label > &__label-indicator {
    border-color: #090963;

    &::before {
      opacity: 1;
    }
  }
}
