.login-page {
  padding-bottom: 20px;
  font-family: "Quicksand";

  &__title {
    color: #1f1f31;

    font-weight: 700;
    font-size: 40px;
  }

  &__link {
    color: #768daf;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  p {
    color: #a6a6a6;
    font-size: 15px;
    margin-right: 5px;
  }
}

.logo-box {
  height: 70px;

  &__img {
    height: 100%;
    object-fit: contain;
  }
}

.sign-in {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;

  &__input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    padding: 10px 16px;
    color: #2b2c43;
    font-size: 15px;
    font-weight: 500;

    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    transition: all 200ms;

    z-index: 2;

    &:focus {
      outline: none;
      border-color: #c9c7c7;
    }

    &--error {
      border-color: #ff5252;
    }
  }

  &__input--error + &__label {
    color: #ff5252;
  }

  &__input-error {
    color: #ff5252;
    font-size: 10px !important;
    font-weight: 600 !important;

    position: absolute;
    left: 5%;
    top: 90%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    transition: all 150ms;

    &--visible {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #2b2c43;
    font-size: 15px;
    font-weight: 600;
    transition: all 200ms ease-out;

    &--active {
      top: 0;
      left: 10px;
      font-size: 12px;
      padding: 0 2px;
      background-color: #fff;
      border-radius: 150px;
    }
  }

  &__input:focus + &__label {
    top: 0;
    left: 10px;
    font-size: 12px;
    padding: 0 2px;
    background-color: #fff;
    border-radius: 150px;
  }

  &__checkbox-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox-label {
    width: 100%;

    user-select: none;

    display: flex;
    align-items: center;

    cursor: pointer;
    transition: all 100ms;
    position: relative;

    color: #2b2c43;
    font-size: 13px;

    font-weight: 600;

    display: flex;

    &-indicator {
      height: 17px !important;
      width: 17px !important;
      background-color: #fff;
      transition: all 100ms;
      border: 2px solid #e7e7e7;
      border-radius: 4px;
      margin-right: 7.5px;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        height: 85%;
        width: 85%;

        background-color: #090963;
        border-radius: 2px;
        transform: scale(0.5);
        opacity: 0;
        transform-origin: center;
        transition: all 50ms;
      }
    }

    &:hover &-indicator {
      border-color: #c9c7c7;
    }
  }

  &__checkbox:checked + &__checkbox-label > &__checkbox-label-indicator {
    border-color: #090963;

    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__btn-submit {
    padding: 15px 0;
    background-color: #090963;
    color: #fff;
    font-size: 15px;

    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
