.login-page {
  padding-bottom: 20px;

  &__title {
    color: #1f1f31;

    font-weight: 700;
    font-size: 40px;
  }

  &__link {
    color: #768daf;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.logo-box {
  &__text {
    color: #1f1f31;

    font-weight: 700;
    font-size: 30px;
  }

  &__img {
    height: 50px;
    object-fit: contain;
  }
}

.sign-in {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;

  &__btn-submit {
    padding: 15px 0;
    background-color: #090963;
    color: #fff;
    font-size: 15px;

    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    transition: all 200ms;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
    }

    &::before {
      content: "";
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      border-radius: 4px;
      background-color: #ffffff87;
      opacity: 0;

      transition: all 100ms;
    }

    &:disabled {
      &::before {
        opacity: 1;
      }
    }
  }
}
